
table thead tr th {
    text-align: center !important;
}

table tr td:last-child {
    text-align: center !important;
}

table#news-list tr td:nth-child(3) {
    text-align: left !important;
}

#NewsEditForm .form-control {
    margin-bottom: 10px !important;
}

.row.primary-header {
    height: 50px;
}

textarea.description_section {
    width: 85%;
    border: 0;
    background: transparent;
    resize: none;
    vertical-align: -webkit-baseline-middle;
    height: 23px;
    overflow: hidden;
}

a.page-link {
    height: 34px;
    max-height: 34px;
    line-height: 34px !important;
    width: 35px;
    max-width: 35px;
    padding: 0 !important;
    margin: 0px !important;
    text-align: center;

}

li.page-item.first a.page-link, li.page-item.prev a.page-link, li.page-item.next a.page-link, li.page-item.last a.page-link {
    width: 70px !important;
    max-width: 70px !important;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination > li {
    display: inline;
}

li.page-item.first a.page-link {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

li.page-item.last a.page-link {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination-sm > li > a, .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

/*for news list*/

div#new_contents ul li {
    padding-bottom: 8px;
}

ul li.articleli {
    margin-bottom: 5px;
}

div#news_contents article.OuterWrapper {
    width: 100%;
    height: 122px;

    border-radius: 5px;
    padding-top: 5px;
    padding-right: 8px;
    position: relative;
    cursor: pointer;
    background: #f9f9f9;
}

div#news_contents article.OuterWrapper img.thumbnail_news {
    width: 110px;
    height: 110px;
    border-top-left-radius: 5px;
    position: absolute;
    border-bottom-left-radius: 5px;
    left: 7px;
}

div#news_contents article.OuterWrapper .innerWrapper {
    margin-left: 123px;
    height: 110px;
    display: block;
    font-size: 23px;
    line-height: 1.25;
    padding: 3px 0 0 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

div#news_contents article.OuterWrapper .innerWrapper p.innerDate {
    margin: 5px 0 5px 14px;
    color: #9e9e9e;
    font-size: 14px;
}

div#news_contents article.OuterWrapper .innerWrapper p.innerTitle {
    margin-left: 5px;
    font-size: 17px;
}

div#news_contents article.OuterWrapper .innerWrapper p.innerTitle span.glyphicon.glyphicon-pushpin {
    margin-right: 4px;
}

div#news_contents div#article_content {
    border: 1px solid #ccc;
    padding: 10px;
    word-break: break-all;
}

div#news_contents div.article_body {
    padding: 10px;
    background: #f6f6f6;
    margin-top: 10px;
}

div#news_contents div.article_header {
    padding: 10px;
    background: #f6f6f6;
}

div#news_contents div.article_header p.title {
    font-size: 25px;
    word-break: break-word;
}

div#news_contents div.article_header p.date {
    font-size: 16px;
}

/*for publicaiton list*/

div#publication_contents ul li {
    padding-bottom: 8px;
}

div#publication_contents article.OuterWrapper {
    width: 100%;
    height: 102px;
    border-radius: 5px;
    padding-top: 5px;
    padding-right: 8px;
    position: relative;
    cursor: pointer;
    background: #f9f9f9;
}

div#publication_contents article.OuterWrapper img.thumbnail_news {
    width: 90px;
    height: 90px;
    border-top-left-radius: 5px;
    position: absolute;
    border-bottom-left-radius: 5px;
    left: 7px;
}

div#publication_contents article.OuterWrapper .innerWrapper {
    margin-left: 104px;
    height: 90px;
    display: block;
    font-size: 23px;
    line-height: 1.25;
    padding: 3px 0 0 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

div#publication_contents article.OuterWrapper .innerWrapper p.innerDate {
    margin: 5px 0 0px 14px;
    color: #9e9e9e;
    font-size: 13px;
}

div#publication_contents article.OuterWrapper .innerWrapper p.innerTitle {
    margin-left: 5px;
    font-size: 16px;
}

div#publication_contents article.OuterWrapper .innerWrapper p.innerTitle span.glyphicon.glyphicon-pushpin {
    margin-right: 4px;
}

div#publication_contents div#article_content {
    border: 1px solid #ccc;
    padding: 10px;
    word-break: break-all;
}

div#publication_contents div.article_body {
    padding: 10px;
    background: #f6f6f6;
    margin-top: 10px;
}

div#publication_contents div.article_header {
    padding: 10px;
    background: #f6f6f6;
}

div#publication_contents div.article_header p.title {
    font-size: 25px;
    word-break: break-word;
}

div#publication_contents div.article_header p.date {
    font-size: 16px;
}

/*serach filter seciton*/

.search-filter {
    height: 100%;
    line-height: 47px;
    text-align: right;
    margin: 0;
    padding: 0;
}

.organization {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}

ul.social-icons {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 47px;
}

.search-input {
    border-radius: 6px;
    display: inline;
    height: 30px !important;
    margin: 0;
    padding: 0;
    width: calc(100% - 90px);
    padding: 0 5px;
}

.search-input:focus {
    background: white;
}

button.btn.btn-search-custome {
    margin: 0;
    padding: 0;
    width: 80px;
    background: aliceblue;
    height: 30px;
    border-radius: 6px;
}

span.brand.brand-text {
    color: white;
    text-align: left;
    font-size: 15px;
    margin-top: 20px !important;
    line-height: 1.7;
}

/*nav setting for media query*/
/*nava header media css*/

.header-second .brand {
    margin-top: 7px;
    margin-right: 7px;
    float: left;
}

a.brand img {
    height: 80px;
}

ul#navbar-tour {
    width: auto;
}

@media (max-width: 962px) {

    div.nav-flag {
        display: none;
    }

    .header-second .navbar-nav {
        float: left;
        margin: 0;
    }

    a.brand img {
        height: 60px;
    }

    a.brand {
        margin-top: 13px;
        margin-right: 13px;
        margin-bottom: 0px;
    }

    .header-second .navbar-default .navbar-nav > li {
        padding-top: 8px;
        padding-bottom: 8px;
    }

}

@media (max-width: 420px) {
    a.brand img {
        height: 45px;
    }

    span.brand.brand-text {
        color: white;
        text-align: left;
        font-size: 11px;
        margin-top: 13px !important;
    }

    ul#navbar-tour {
        width: 100%;
    }

}

/*for home page news list*/

ul li.articleli {
    margin-bottom: 5px;
}

div#home_event_contents article.OuterWrapper, div#home_news_contents article.OuterWrapper {
    width: 100%;
    height: 165px;
    border-radius: 5px;
    padding-top: 5px;
    padding-right: 8px;
    position: relative;
    background: #f9f9f9;
}

div#home_event_contents article.OuterWrapper img.thumbnail_news, div#home_news_contents article.OuterWrapper img.thumbnail_news {
    width: 130px;
    height: 153px;
    border-top-left-radius: 5px;
    position: absolute;
    border-bottom-left-radius: 5px;
    left: 7px;
}

div#home_event_contents article.OuterWrapper .innerWrapper, div#home_news_contents article.OuterWrapper .innerWrapper {
    margin-left: 142px;
    height: 141px;
    display: block;
    font-size: 23px;
    line-height: 1.25;
    padding: 3px 0 0 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

div#home_event_contents article.OuterWrapper .innerWrapper p.innerDate, div#home_news_contents article.OuterWrapper .innerWrapper p.innerDate {
    color: #9e9e9e;
    font-size: 12px;
    margin: 0;
}

div#home_event_contents article.OuterWrapper .innerWrapper p.innerTitle, div#home_news_contents article.OuterWrapper .innerWrapper p.innerTitle {
    margin: 0;
    font-size: 14px;
}

div#home_event_contents article.OuterWrapper .innerWrapper p.innerDescription, div#home_news_contents article.OuterWrapper .innerWrapper p.innerDescription {
    margin: 0;
    font-size: 15px;
}

@media (max-width: 1200px) {

    div#home_event_contents article.OuterWrapper, div#home_news_contents article.OuterWrapper {
        height: 172px !important;
    }

    div#home_event_contents article.OuterWrapper .innerWrapper p.innerDate, div#home_news_contents article.OuterWrapper .innerWrapper p.innerDate {
        font-size: 12px !important;
    }

    div#home_event_contents article.OuterWrapper .innerWrapper p.innerTitle, div#home_news_contents article.OuterWrapper .innerWrapper p.innerTitle {
        font-size: 13px !important;
    }

    div#home_event_contents article.OuterWrapper .innerWrapper p.innerDescription, div#home_news_contents article.OuterWrapper .innerWrapper p.innerDescription {
        font-size: 13px !important;
    }

    div#home_event_contents p, div#home_news_contents p {
        font-size: 13px !important;
    }

}

@media (max-width: 620px) {

    div#home_event_contents article.OuterWrapper, div#home_news_contents article.OuterWrapper {
        height: 182px !important;
    }

    div#home_event_contents article.OuterWrapper .innerWrapper p.innerDate, div#home_news_contents article.OuterWrapper .innerWrapper p.innerDate {
        font-size: 10px !important;
    }

    div#home_event_contents article.OuterWrapper .innerWrapper p.innerTitle, div#home_news_contents article.OuterWrapper .innerWrapper p.innerTitle {
        font-size: 9px !important;
    }

    div#home_event_contents article.OuterWrapper .innerWrapper p.innerDescription, div#home_news_contents article.OuterWrapper .innerWrapper p.innerDescription {
        font-size: 12px !important;
    }

    div#home_event_contents p, div#home_news_contents p {
        font-size: 12px !important;
    }
}

div#home_event_contents article.OuterWrapper .innerWrapper p.innerTitle span.glyphicon.glyphicon-pushpin, div#home_news_contents article.OuterWrapper .innerWrapper p.innerTitle span.glyphicon.glyphicon-pushpin {
    margin-right: 4px;
}

div#home_event_contents div#article_content, div#home_news_contents div#article_content {
    border: 1px solid #ccc;
    padding: 10px;
    word-break: break-all;
}

div#home_event_contents div.article_body, div#home_news_contents div.article_body {
    padding: 10px;
    background: #f6f6f6;
    margin-top: 10px;
}

div#home_event_contents div.article_header, div#home_news_contents div.article_header {
    padding: 10px;
    background: #f6f6f6;
}

div#home_event_contents div.article_header p.title, div#home_news_contents div.article_header p.title {
    font-size: 25px;
    word-break: break-word;
}

div#home_event_contents div.article_header p.date, div#home_news_contents div.article_header p.date {
    font-size: 16px;
}

div#home_event_contents a.read-more-anchor, div#home_news_contents a.read-more-anchor {
    text-decoration: none;
    font-size: 15px;
    color: #000;
    border: 1px solid black;
    padding: 4px;
    position: absolute;
    bottom: 8px;
    cursor: pointer;
    /* left: 5px; */
}

/*calendar css*/

#calendar ul,
#calendar ol,
#calendar li {
    list-style: none;
    padding: 0;
    margin: 0;
}