
/*event calendar*/

.event-calendar-container .calendar-header {
    background-color: #FFF;
    border: 1px solid #DDD;
    margin-bottom: 5px;
}

.event-calendar-container .calendar-header .todaySelect {
    padding: 10px;
    display: inline-block;
}

.event-calendar-container .calendar-header .month-container {
    border-left: 1px solid #DDD;
    display: inline-block;
    border-right: 1px solid #DDD;
    padding: 10px 20px;
}

.event-calendar-container .calendar-header .previous-link {
    cursor: pointer;
}

.event-calendar-container .calendar-header .next-link {
    cursor: pointer;
}

.event-calendar-container .calendar-header .monthSelect {
    margin: 10px;
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
    padding: 0 10px;
}

.event-calendar-container .calendar-header .yearSelect {
    float: right;
    padding: 10px;
}

.event-calendar-container table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.event-calendar-container table tr td, .event-calendar-container table tr th {
    background: #FFF;
    border: 1px solid #CCC;
}

.event-calendar-container table tr th {
    padding: 10px 0;
    text-align: center;
}

.event-calendar-container table tr td {
    vertical-align: top;
}

.event-calendar-container table tr td > div.date-event-wrapper {
    position: relative;
    height: 100%;
}

.event-calendar-container table tr td input.date-checker {
    position: absolute;
    top: 5px;
    right: 5px;
}

@media (min-width: 768px) and (max-width: 979px) {

    .event-calendar-container table tr th {
        text-align: center;
    }

    .event-calendar-container table tr td {
        position: relative;
        vertical-align: top;
        width: 126px;
    }
}

@media (min-width: 979px) and (max-width: 1400px) {
    .event-calendar-container table tr th {
        text-align: center;
    }

    .event-calendar-container table tr td {
        position: relative;
        vertical-align: top;
        width: 124px;
    }
}

.calendar-section .calendar-table td {
    height: 65px;
}

.calendar-section .drop-event {
    cursor: pointer;
}

.calendar-section td.today {
    background-color: #D0FFCA !important;
}

.event-calendar-container table tr td, .event-calendar-container table tr th {
    background: #FFF;
    border: 1px solid #CCC;
}

table tbody tr td {
    text-align: center !important;
    vertical-align: middle !important;
}

.event-calendar-container table tr td a.date {
    position: absolute;
    top: 5px;
    width: 100%;
    text-align: center;
    left: 0;
}

.event-placeholder {
    position: absolute;
    bottom: 12px;
    width: 100%;
}

.overlayP{
    width: 100%;
    height: 100%;
    background: #f8f8f8;
}

.event-placeholder .event-icon {
    display: inline-block;
    width: 13px;
    border-radius: 10px;
    height: 13px;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
}

div.event-placeholder span.priority1 {
    background: #00ea01 !important;
}

div.event-placeholder span.priority2 {
    background: #EAC64F !important;
}

div.event-placeholder span.priority3 {
    background: #ea000a !important;
}

.event-calendar-container table tr td, .event-calendar-container table tr th {
    background: #FFF;
    border: 1px solid #CCC;
}

.calendar-section .drop-event:hover {
    background: #ededed;
}

.teaser-id-hover {
    position: absolute;
    color: #FFF;
    font-style: normal;
    padding: 3px 10px;
    background: rgb(90, 82, 82);
    z-index: 1000;
    white-space: nowrap;
    top: -31px;
}

.event-icon .glyphicon-arrow-down {
    position: absolute;
    top: -11px;
    color: rgb(90, 82, 82);
}
